


.example-spacer {
  flex: 1 1 auto;
}
.example-container {
  width: 100px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-spacer {
  flex: 1 1 auto;
}

.example-sidenav {
  padding: 20px;
}
.ajouter {
  align-items: flex-end;
}
