<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <ng-content select="[navbar]"></ng-content>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="assets/profil.jpeg"
    />

    <h4 class="name">{{user.prenom+" "+user.nom}}</h4>
    <p class="designation">{{user.roles}}</p>

    <mat-divider></mat-divider>

    <button *ngIf="'Admin' in user.roles" mat-button class="menu-button" routerLink="/user">
      <mat-icon>person</mat-icon>
      <span>User</span>
    </button>

    <button mat-button class="menu-button" routerLink="/categorie">
      <mat-icon>home</mat-icon>
      <span>Categorie</span>
    </button>
    <button mat-button class="menu-button" routerLink="/produit">
      <mat-icon>info</mat-icon>
      <span>Produit</span>
    </button>
    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Mouvement</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="logout()">
      <mat-icon>help</mat-icon>
      <span>deconnecter</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <ng-content select="[main-content]"></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
