<h1>Ajout d'utilisateur</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
  <mat-form-field appearance="outline">
    <mat-label>Prenom</mat-label>
    <input matInput formControlName="prenom">
    <mat-hint>{{errors.prenom}}</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="nom">
    <mat-hint>{{errors.nom}}</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input type="mail" matInput formControlName="email">
    <mat-hint>{{errors.email}}</mat-hint>
  </mat-form-field>
  <div *ngIf="data !=null">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-hint>{{errors.password}}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirmer Mot de passe</mat-label>
      <input type="password" matInput formControlName="confirmation">
      <mat-hint>{{errors.confirmation}}</mat-hint>
    </mat-form-field>
  </div>
  <section class="example-section" style="margin-bottom : 32px">
    <h3>Role*</h3>
    <div *ngFor="let role of roles;let i=index">
      <p *ngIf="getRolesString().indexOf(role.name)== -1"><mat-checkbox [value]=role.value (change)="onCheckChange($event)">{{role.name}}</mat-checkbox></p>
      <p *ngIf="getRolesString().indexOf(role.name)> -1"><mat-checkbox [checked]="true" [value]=role.value (change)="onCheckChange($event)">{{role.name}}</mat-checkbox></p>
    </div>
    <mat-hint>{{errors.roles}}</mat-hint>
  </section>

  <div mat-dialog-action [align]="'end'" >
  <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>
  <button type="submit" style="margin-left : 12px" mat-raised-button color="primary" [disabled]="!form.valid">{{this.data==null ? "Sauvergarder" : "Modifier"}}</button>
</div>
</form>
</div>

